{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>UniManager</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean-n.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Different-Styled---Cards-1-n.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Different-Styled---Cards-n.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic-n.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean-n.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Newsletter-Subscription-Form-n.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles-n.css' %}">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><a class="navbar-brand" href="/">UniManager</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Welcome {{ name }}</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="contact-clean">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-center">New Request/Complaint</h2>
        <div class="form-group"><input class="form-control" type="text" name="location" required=""
                                       placeholder="Location"></div>
        <div class="form-group"><textarea class="form-control" rows="14" name="message" required=""
                                          placeholder="Information"></textarea></div>
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                        type="button" style="margin-top: -5px;" id="category">Select Category
                </button>
                <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" role="presentation" href="#"
                       onclick="category_change('Cleaning')">Cleaning</a>
                    <a class="dropdown-item" role="presentation" href="#" onclick="category_change('Admission')">Admission</a>
                    <a class="dropdown-item" role="presentation" href="#" onclick="category_change('Examination')">Examination</a>
                    <a class="dropdown-item" role="presentation" href="#" onclick="category_change('Infrastructure')">
                        Infrastructure</a>
                    <a class="dropdown-item" role="presentation" href="#" onclick="category_change('Others')">Others</a>
                </div>
            </div>
            <input type="text" id="category_inp" hidden name="category">
        </div>
        <div class="form-group"><input name="myimage" type="file"></div>
        <div class="form-group"><small class="form-text text-danger">{{ error }}</small></div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2017</p>
    </footer>
</div>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<script>

    function category_change(category) {

        $("#category").html(category);
        $("#category_inp").val(category);
    }

</script>
</body>


</html>